@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

body {
  font-family: 'Pangolin', cursive;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

h1 {
  color: #008080;
}

.container {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  width: 800px;
}
