.active {
  color: #3a0ca3;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.current-location {
  color: #b91372;
}

.date-time {
  color: #3f86bc;
}

.search {
  color: #b91372;
}

.search-bar {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  border-radius: 20px;
  border: 30px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  height: 90px;
  margin-bottom: 20px;
  align-items: center;
}

.weatherInfo {
  color: #2a9d8f;
  margin-bottom: 20px;
}