canvas {
  margin: 0 auto;
  display: block;
}

.clearfix {
  display: block;
  margin: 10px;
  text-align: center;
}

.current-city, #searching, #submit {
  color: #b91372;
}

.current-icon {
  float: left;
  position: relative;
  right: -60px;
}

.current-info {
  border-radius: 20px;
  border: 30px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
}

.current-temperature {
  color: #3a0ca3;
  font-size: 52px;
  line-height: 1;
}

.date-time {
  color: #3f86bc;
}

.search-bar {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  border-radius: 20px;
  border: 30px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
}

.units {
  font-size: 28px;
  position: relative;
  top: -15px;
}

.weather-info {
  color: #2a9d8f;
}

.weather-temperature a {
  color: #2a9d8f;
  cursor: default;
}

.weather-temperature .active {
  color: #3a0ca3;
  cursor: default;
}

.weather-temperature a:hover {
  text-decoration: none;
}